<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ///FTP專用開始 -->
  <!-- FTP專用 -->
  <add key="FTP_ADDRESS" value="" />
  <add key="FTP_ID" value="" />
  <add key="FTP_PWD" value="" />

  <!-- SFTP專用 -->
  <!--<add key="SFTP_ADDRESS" value="10.24.100.133" />
  <add key="SFTP_ID" value="tsba" />
  <add key="SFTP_PWD" value="1qaz@WSX" />-->
  <!-- 10.24.100.133 -->
  <!--<add key="SFTP_FINGERPRINT" value="ssh-rsa 1024 42:21:9c:bd:56:52:c7:ae:98:97:9a:7a:7d:44:24:70" />-->
  <!-- 127.0.0.1 -->
  <!--<add key="SFTP_FINGERPRINT" value="ssh-rsa 1024 4c:3c:68:56:f1:0d:02:8f:26:5c:f3:51:f0:cf:6d:ca" />-->
  <!--<add key="SFTP_FILE" value="D:/FILES/" />-->

  <!--FTPS-->
  <add key="FTPS_ADDRESS" value="10.24.100.133" />
  <add key="FTPS_ID" value="ftpuser" />
  <add key="FTPS_PWD" value="1qaz!QAZ" />
  <add key="FTPS_PORT" value="21" />
  <add key="FTPS_FILE" value="" />
  <add key="FTPS_FINGERPRINT" value="d2:46:5e:95:7b:74:9a:a1:c2:22:a3:98:62:33:3c:2b:d1:1f:66:2b" />
  
  <!-- ///【連線專用開始 -->
  <!-- 多國語系連線 -->
  <add key="LANGUAGE_DATASOURCE" value="CFCM" />

  <!-- 資料字典連線 -->
  <add key="DATA_DICTIONARY_DATASOURCE" value="DATADICTIONARY" />

  <!-- 專案名稱 -->
  <add key="DATA_PROJECT" value="CFCM" />

  <!-- 共用連線 -->
  <add key="COMMON_DATASOURCE" value="CFCM" />

  <!-- FLOW連線 -->
  <add key="FLOW_DATASOURCE" value="CFCM" />

  <!-- 人員連線 -->
  <add key="EMP_DATASOURCE" value="CFCM" />

  <!-- 權限連線 -->
  <add key="AUT_DATASOURCE" value="CFCM" />

  <!-- LOG 連線 -->
  <add key="LOG_DATASOURCE" value="CFCMLOG" />
  <!-- 連線專用結束】/// -->


  <!-- ///【Log 專用開始 -->
  <!-- 要 log 的等級 0-info, 1-debug, 2-warn, 3-fatal, 4-error (會 Load 至 Memory 中不會執行 IO 動作) -->
  <add key="LOG_LEVEL" value="0" />

  <!-- LOG 格式, HTML, XML, (DB, MAIL ......) -->
  <add key="LOG_FORMAT" value="HTML" />

  <!-- INFO LOG 格式, HTML, XML, (DB, MAIL ......) -->
  <add key="INFO_LOG_FORMAT" value="HTML" />

  <!-- LOG多寫到MSMQ-->
  <!--<add key="LOG_PROTOCAL" value="MSMQ" />-->
  <!--<add key="MSMQ_URI" value="FormatName:Direct=TCP:twdann8906952\private$\Knue4Log" />-->

  <!-- SQLMARK=<font color=red><b>[SQL]</b></font> -->
  <add key="SQLMARK" value="[SQL]" />

  <!-- 當開發環境 Log 出不$來時, 將參數開放可將 Log 改為同步機制, 解決 Log 問題 -->
  <!----><add key="LOG_TRACE" value="Y" />

  <!-- 是否正式環境, N 則一些底層用 TraceLog 會顯示在 Log 裡 -->
  <add key="PRODECUTION" value="N" />
  <add key="SHOW_TRACE_LOG" value="Y" />

  <!-- 採集超過執行時間限制點 -->
  <add key="MAX_SQL_TIME" value="1000" />
  <add key="MAX_SQL_LEN" value="1000" />

  <!-- Memory 快取 Log 的長度限制 -->
  <add key="MEMORY_LOG_LENGTH" value="100000000" />

  <!-- 記錄記憶體大小 -->
  <add key="IS_LOG_MEMORY_SIZE" value="N" />

  <!-- 記錄記憶體大小限制 (KB) -->
  <add key="LOG_MEMORY_LIMIT" value="100" />
  <!-- Log 專用結束】/// -->



  <!-- ///【系統環境變數開始 -->
  <!-- 全域變數放置位置 DB/FILE -->
  <add key="CROSS_SITE_VARIABLE_IN" value="FILE" />

  <!-- Root 實際放置路徑 -->
  <add key="%ROOT_PATH" value="G:\Project\ACER_MVC_PROJ\Demo1_20200227_1755\Demo1\Demo1" />
  <add key="REAL_PATH" value="[ROOT_PATH]" />

  <!-- 線上列印放置路徑 -->
  <add key="ONLINE_REPORT_CONFIG_PATH" value="[ROOT_PATH]\report" />

  <!-- 批次列印放置路徑 -->
  <add key="BATCH_REPORT_PATH" value="" />

  <!-- 批次設定檔放置路徑 -->
  <add key="BATCH_REPORT_CONFIG_PATH" value="" />

  <!-- RPT File 放置路徑 -->
  <add key="RPT_FILE_PATH" value="[ROOT_PATH]\temp" />

  <add key="HTMLREPORT_TEMPLETE_NAME" value="templete.html" />

  <!-- 上傳檔案暫存目錄 -->
  <add key="TEMP_UPLOADFILE_PATH" value="[ROOT_PATH]\upload\" />
  <add key="TEMP_UPLOADFILE_WEBPATH" value="/CFCM/upload/" />

  <!--模擬使用者-->
  <add key="IMPUSER" value="file_upload" />
  <add key="IMPPWD" value="3edc$RFV" />

  <!-- 匯入範例檔案放置目錄 -->
  <add key="EXP_FILE_PATH" value="[ROOT_PATH]\Sample\" />
  <add key="TMP_EXP_FILE_PATH" value="[ROOT_PATH]\temp\" />

  <!-- 虛擬目錄名稱 -->
  <add key="VISUAL_ROOT" value="/CFCM" />

  <!-- DOMAIN -->
  <add key="DOMAIN" value="127.0.0.1" />
  
   <!-- 通傳系統參數 0:公司 1:NCC -->
  <add key="VW_BASIC_APPLY" value="0" />
  <!-- 系統環境變數結束】/// -->



  <!-- ///【MAIL 使用開始 -->
  <!-- Mail 發給某帳號, 測試使用 -->
  <add key="TEST_MAIL" value="" />

  <!-- 寄件者 -->

  <add key="SENDER" value="系統管理員&lt;acerproject.ncc@gmail.com&gt;" />
  <add key="SENDER_ID" value="acerproject.ncc@gmail.com" />
  <add key="SENDER_PW" value="!Qaz0104" />

  <!-- 發送 Mail 的 Smtp Server -->
  <add key="SMTP_SERVER" value="smtp.gmail.com" />

  <!-- 存放 Mail 附件的根目錄 -->
  <add key="MAIL_ATTACH_PATH" value="[ROOT_PATH]\upload\" />

  <!-- MailTo MailCC MailBcc 編碼 -->
  <add key="MAIL_TO_ENCODING" value="big5" />

  <!-- SUBJECT 編碼 -->
  <add key="SUBJECT_ENCODING" value="big5" />

  <!-- BODY 編碼 -->
  <add key="BODY_ENCODING" value="big5" />
  <!-- MAIL 使用結束】/// -->


  <!-- ///【SESSION 檢核用開始 -->
  <!-- SESSION 要檢核的 Name -->
  <add key="VALIDE_SESSION_NAME" value="LOGIN_ACNT" />

  <!-- SESSION 不減核的 Filter -->
  <add key="SKIP_SESSION_VALID" value="MonitorDB,DBEncode.aspx,default.aspx,mainframe,/pattern,phrase,preview,ajax,/temp,/dbtool,/TOOL" />
  <!-- SESSION 檢核用結束】/// -->

  <!-- ///【報表參數設定用開始 -->
  <!-- 學校名稱 -->
  <add key="REPORT_SCHOOL_NAME" value="NCC無線與衛星廣播電視線上申辦系統" />

  <!-- 設定報表是否有買 Report Server Lincense -->
  <add key="HAS_REPORTSERVER_LINCENSE" value="N" />
  <!-- 報表參數設定用結束】/// -->

  <!-- ///【資料庫連線密碼加密 key 用開始 -->
  <add key="pwdkey" value="??qfw?'1" />
  <add key="pwdkey1" value="Q74191UmidxWfYA2xWaIgaK6RwhY8hg2" />
  <add key="pwdkey2" value="9xT+FaIWsZk=" />
  <!-- 資料庫連線密碼加密 key 用結束】/// -->


  <!-- ///【SHARE_TMP 路徑開始 -->
  <add key="SHARE_TMP" value="[ROOT_PATH]\temp" />
  <add key="SHARE_TMP_WEBPATH" value="/temp/" />
  <!-- SHARE_TMP 路徑結束】/// -->

  <!-- ///【快取表格設定開始 -->
  <add key="CACHE_TABLE1" value="CFCM|AUTC020|OPERATE_CD,OPERATE_NM,OPERATE_SORT,SYS_CD,UPPER_OPERATE_CD|" />
  <add key="CACHE_TABLE2" value="CFCM|AUTC030|OPEN_DATEE,OPEN_DATES,OPERATE_CD,OUTSIDE_USE,PROG_CD,PROG_NM,PROG_PATH,PROG_EXPL,PROG_SORT,RECRUITST_USE,SYS_CD,OPEN_OUTSIDE|USE_STATE='1'" />
  <add key="CACHE_TABLE3" value="CFCM|AUTC040|FN_CD,PROG_CD|" />
  <add key="CACHE_TABLE4" value="CFCM|AUTT010|GROUP_CODE,USE_STATE|" />
  <add key="CACHE_TABLE5" value="CFCM|AUTT030|GROUP_CODE,PROG_CD|" />
  <add key="CACHE_TABLE6" value="CFCM|AUTT040|DATA_FIELD_ENG,DATA_RANGE_LABEL,DATA_RANGE_VALUE,GROUP_CODE,SQL_VALUE|" />
  <add key="CACHE_TABLE7" value="CFCM|AUTT050|FN_CD,GROUP_CODE,PROG_CD|" />
  <add key="CACHE_TABLE8" value="CFCM|AUTT060|DATA_FIELD_ENG,DATA_RANGE_LABEL,DATA_RANGE_VALUE,FN_CD,GROUP_CODE,PROG_CD,SQL_VALUE|" />
  <add key="CACHE_TABLE9" value="CFCM|AUTT070|DATA_FIELD_ENG,FIELD_RW_PRVLG,FN_CD,GROUP_CODE,PROG_CD|" />
  <add key="CACHE_TABLE10" value="CFCM|AUTC010|SYS_CD,SYS_NM,EDU_FG,SYS_CHARGE,SYS_AGT,SYS_SORT|" />
  <add key="CACHE_TABLE11" value="CFCM|AUTT080|ACNT,GROUP_CODE|" />
  <!-- 快取表格設定結束】/// -->

  <!-- SESSION_MAP -->
  <add key="SESSION_MAP" value="" />

  <!-- ///【取號機開始 -->
  <!--ACER TEST-->
  <add key="PKNO_SERVER_LIST_ORG" value="10.24.100.133" />
  <add key="PKNO_SERVER_LIST" value="10.24.100.133" />
  <add key="PKNO_SERVER_PORT" value="8080" />
  <!--NCC TEST-->
  <!--<add key="PKNO_SERVER_LIST_ORG" value="10.66.139.32" />
  <add key="PKNO_SERVER_LIST" value="10.66.139.32" />
  <add key="PKNO_SERVER_PORT" value="8080" />-->
  <!--
  <add key="PKNO_SERVER_LIST" value="10.24.100.174" />
  <add key="PKNO_SERVER_PORT" value="2002" />
  -->
  <!-- 取號機結束】/// -->

  <!-- ///【資料加密開始 -->
  <!-- 加密欄位 -->
  <add key="ENCODE_COLUMN" value="" />

  <!-- #畫面呈現方式種類 1-A123456789 -> A120000789, 2-66/12/31 -> 01/12/31 -->
  <add key="ENCODE_TYPE" value="" />

  <!-- #畫面呈現資訊是否亂過 (Y / N) -->
  <add key="ENCODE_SCREEN" value="" />

  <!--  #例外判斷 (Session 名稱) 值必須為 Y 且記得要清空該值, 此設定表示該程式編輯程式畫面不加密(忽略 ENCODE_SCREEN 設定) -->
  <add key="EXTEND_SESSION" value="" />
  <!-- 資料加密結束】/// -->

  <!-- 圖檔及CSS網址 -->
  <!--
  <add key="PIC_URL1" value="http://10.24.100.133/CFCMData/NCC1/" />
  <add key="PIC_URL2" value="http://10.24.100.133/CFCMData/NCC2/" />
  <add key="PIC_URL3" value="http://10.24.100.133/CFCMData/NCC3/" />
	-->
  <add key="PIC_URL1" value="http://localhost/CFCMData/CFCM1/" />
  <add key="PIC_URL2" value="http://localhost/CFCMData/CFCM2/" />
  <add key="PIC_URL3" value="http://localhost/CFCMData/CFCM3/" />

  <add key="DATA_URL" value="http://localhost/CFCMData/" />

  <!-- 稅入款項系統產生列印繳款書的網址 -->
  <add key="BIL_REPORT_URL" value="http://10.66.140.23/Application/BIL/BIL1201.aspx?pay_no=" />
  <!-- 稅入款項系統Web Service中介參數:單位代碼 -->
  <add key="RETAILER_ID" value="4800" />
  <!-- 稅入款項系統Web Service中介參數:費用代碼(用戶號碼) -->
  <add key="ADFEE_CODE_1" value="IC32" />
  <!-- 稅入款項系統Web Service中介參數:費用代碼(識別碼) -->
  <add key="ADFEE_CODE_2" value="IC33" />
  <!-- 稅入款項系統測試 Y:正式，N:測試 -->
  <add key="BIL_PROD" value="N" />
  <!-- 稅入款項系統測試-印繳款單 Y:正式，N:測試 -->
  <add key="BIL_PRO_PRINT" value="N" />
  <!-- 稅入款項系統開單上層單位 -->
  <add key="CHIEF_OFFICE" value="" />

  <add key="IP_CHECKING_BYPASS" value="Y" />


  <!-- For hiCloud S3 setting -->
  <add key="AWSAccessKey" value="SE41NTAxODA5OTE1MDg4MDk5ODE0NzQ"/>
  <add key="AWSSecretKey" value="NDBmNTI1ODM4Mzk4NGJiMDkwMjU2ODFkMTU3MTYzMzM"/>
  <add key="ownerDisplayName" value="s3.hicloud.net.tw"/>
  <add key="ownerCanonicalID" value="6d7947b28a944577b0551def125b38bb"/>
  <add key="userADisplayName" value="NCC"/>
  <add key="userACanonicalID" value="0972161777"/>
  <!-- hiCloud S3 上傳下載 -->
  <add key="S3" value="https://tsba.s3.hicloud.net.tw/"/>

  <!-- ApplyDocWebService系統參數 -->
  <!--<add key="GetApplyCaseList" value="'10','21','29','30','31','39','40','41','49'" />-->
  <add key="GetApplyCaseList" value="'10','29','39','49'" />

  <!-- 是否需要介接E政府/eGov -->
  <add key="CHECK_EGOV" value="Y" />
  <add key="EGOV_URL" value="https://www.cp.gov.tw/portal/Clogin.aspx?ReturnUrl=" />
  <add key="EGOV_LOGOUT_URL" value="https://www.cp.gov.tw/portal/logout.aspx?logoutUrl=" />
  <add key="SERVICEID" value="APP0001903" />
  <!-- 是否為測試登入(不透過e政府) -->
  <add key="EGOV_TEST" value="Y" />
  <!-- 測試登入時是否對其他系統資料庫進行查詢 -->
  <add key="EGOV_TEST_QUERY_OTHER_DB" value="N" />
  <!-- 測試登入-憑證類型 -->
  <add key="EGOV_TEST_CATYPE" value="GCA" />
  <!-- 測試登入-卡號 -->
  <add key="EGOV_TEST_USE_CONFIG_CARDNUM" value="Y" />
  <add key="EGOV_TEST_CARDNUM" value="TTA0000000001111" />
  <!--<add key="EGOV_TEST_UID" value="53739409" />-->
  <!--測試登入資料 begin-->
  <add key="EGOV_TEST_UID" value="11111115" />
  <add key="EGOV_TEST_OID" value="2.16.886.119.101925" />
  <add key="EGOV_TEST_NAME" value="測試機關" />
  <add key="EGOV_TEST_ENGNAME" value="TestEngName" />
  <add key="EGOV_TEST_ADDRESS" value="台北市大安區信義路三段100號" />
  <add key="EGOV_TEST_EMAIL" value="test@mail.com" />
  <add key="EGOV_TEST_TEL" value="28881123" />  
  <!--測試登入資料 End-->
  <!-- 測試登入-是否蒐集資料 -->
  <add key="EGOV_TEST_SAVE_LOG" value="Y" />

  
  
  
  <add key="SQL_TIMEOUT" value="30"/>

  <!-- 上傳檔案目錄 -->
  <add key="UPLOADFILE_PATH" value="[ROOT_PATH]\upload\" />
  <!-- 上傳檔案暫存目錄 -->
  <add key="TEMP_UPLOADFILE_PATH" value="[ROOT_PATH]\upload\Temp\" />
  <!-- WORD範本檔目錄 -->
  <add key="DOCX_TEMPLATE_PATH" value="[ROOT_PATH]\Template\" />

  <!-- Guardium 相關 -->
  <add key="IsUseGuard" value="N"/>
  <!--Guardium是否啟動-->
  <add key="sGuardAppEventType" value="CFCM"/>
  <!--Guardium識別代碼-->
  <!--<add key="VALIDE_SESSION_NAME" value="LOGIN_ACNT"/> 上面有,登入帳號session名稱 -->
  <add key="SESSION_LOCAL_IP_NAME" value="LOGIN_AP_SERVER"/>

  <add key="VER" value="1.0.50" />
  <!-- 測試網址 -->
  <add key="PaymentService.ws_acct_tnas" value="http://10.66.140.23/Application/WebService/ws_acct_tnas.asmx" />

  <!-- 是否開啟驗證碼檢測 -->
  <add key="VER_CODE_DETECT" value="N" />

  <!-- TEST for Login -->
  <add key="TEST_LOGIN" value="Y" />
  <add key="TEST_LOGIN_LOG" value="Y" />
  
  <!-- TEST DB VIEW-->
  <add key="TEST_DB_VIEW" value="Y" />
</appSettings>

