<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請瀏覽
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
      <section name="DataBaseConfig" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <DataBaseConfig>
    <add key="DATADICTIONARY_SQL2005" value="Data Source=10.66.139.11;Initial Catalog=TSBA;Password=3edc%TGB;User ID=tsbauser_quiz;MultipleActiveResultSets=True;#SQLCLIENT" />
    <add key="TSBA_SQL2005" value="Data Source=10.66.139.11;Initial Catalog=TSBA;Password=3edc%TGB; User ID=tsbauser_quiz;MultipleActiveResultSets=True;#SQLCLIENT" />
  </DataBaseConfig>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="VER" value="1.0.50"/>
    <add key="FTP_ADDRESS" value=""/>
    <add key="FTP_ID" value=""/>
    <add key="FTP_PWD" value=""/>
    <add key="SFTP_ADDRESS" value=""/>
    <add key="SFTP_ID" value="tsba"/>
    <add key="SFTP_PWD" value="2wsx@WSX"/>
    <add key="SFTP_FINGERPRINT" value="ssh-ed25519 256 9d:0e:1d:ec:9b:99:5b:72:45:a0:32:e0:7f:56:82:6b"/>
    <add key="SFTP_FILE" value="D:/FILES/"/>
    <add key="LANGUAGE_DATASOURCE" value="TSBA"/>
    <add key="DATA_DICTIONARY_DATASOURCE" value="DATADICTIONARY"/>
    <add key="DATA_PROJECT" value="TSBA"/>
    <add key="COMMON_DATASOURCE" value="TSBA"/>
    <add key="FLOW_DATASOURCE" value="TSBA"/>
    <add key="EMP_DATASOURCE" value="TSBA"/>
    <add key="AUT_DATASOURCE" value="TSBA"/>
    <add key="LOG_DATASOURCE" value="TSBALOG"/>
    <add key="LOG_LEVEL" value="0"/>
    <add key="LOG_FORMAT" value="HTML"/>
    <add key="INFO_LOG_FORMAT" value="HTML"/>
    <add key="SQLMARK" value="[SQL]"/>
    <add key="PRODECUTION" value="N"/>
    <add key="SHOW_TRACE_LOG" value="Y"/>
    <add key="MAX_SQL_TIME" value="1000"/>
    <add key="MAX_SQL_LEN" value="1000"/>
    <add key="MEMORY_LOG_LENGTH" value="100000000"/>
    <add key="IS_LOG_MEMORY_SIZE" value="N"/>
    <add key="LOG_MEMORY_LIMIT" value="100"/>
    <add key="CROSS_SITE_VARIABLE_IN" value="FILE"/>
    <add key="%ROOT_PATH" value="D:\TSBA\dev\TSBA"/>
    <add key="REAL_PATH" value="[ROOT_PATH]"/>
    <add key="ONLINE_REPORT_CONFIG_PATH" value="[ROOT_PATH]\report"/>
    <add key="BATCH_REPORT_PATH" value=""/>
    <add key="BATCH_REPORT_CONFIG_PATH" value=""/>
    <add key="RPT_FILE_PATH" value="[ROOT_PATH]\temp"/>
    <add key="HTMLREPORT_TEMPLETE_NAME" value="templete.html"/>
    <add key="TEMP_UPLOADFILE_PATH" value="[ROOT_PATH]\upload\"/>
    <add key="TEMP_UPLOADFILE_WEBPATH" value="/TSBA/upload/"/>
    <add key="IMPUSER" value="file_upload"/>
    <add key="IMPPWD" value="3edc$RFV"/>
    <add key="EXP_FILE_PATH" value="[ROOT_PATH]\Sample\"/>
    <add key="TMP_EXP_FILE_PATH" value="[ROOT_PATH]\temp\"/>
    <add key="VISUAL_ROOT" value="/TSBA"/>
    <add key="DOMAIN" value="127.0.0.1"/>
    <add key="TEST_MAIL" value="acer.csp@gmail.com"/>
    <add key="SENDER" value="系統管理員&lt;acer.csp@gmail.com&gt;"/>
    <add key="SENDER_ID" value="acer.csp@gmail.com"/>
    <add key="SENDER_PW" value="mkjjnvg_1910"/>
    <add key="SMTP_SERVER" value="smtp.gmail.com"/>
    <add key="MAIL_ATTACH_PATH" value="[ROOT_PATH]\upload\"/>
    <add key="MAIL_TO_ENCODING" value="big5"/>
    <add key="SUBJECT_ENCODING" value="big5"/>
    <add key="BODY_ENCODING" value="big5"/>
    <add key="VALIDE_SESSION_NAME" value="LOGIN_ACNT"/>
    <add key="SKIP_SESSION_VALID" value="MonitorDB,DBEncode.aspx,default.aspx,mainframe,/pattern,phrase,preview,ajax,/temp,/dbtool,/TOOL"/>
    <add key="REPORT_SCHOOL_NAME" value="NCC無線與衛星廣播電視線上申辦系統"/>
    <add key="HAS_REPORTSERVER_LINCENSE" value="N"/>
    <add key="pwdkey" value="??qfw?'1"/>
    <add key="pwdkey1" value="Q74191UmidxWfYA2xWaIgaK6RwhY8hg2"/>
    <add key="pwdkey2" value="9xT+FaIWsZk="/>
    <add key="SHARE_TMP" value="[ROOT_PATH]\temp"/>
    <add key="SHARE_TMP_WEBPATH" value="/temp/"/>
    <add key="CACHE_TABLE1" value="TSBA|AUTC020|OPERATE_CD,OPERATE_NM,OPERATE_SORT,SYS_CD,UPPER_OPERATE_CD|"/>
    <add key="CACHE_TABLE2" value="TSBA|AUTC030|OPEN_DATEE,OPEN_DATES,OPERATE_CD,OUTSIDE_USE,PROG_CD,PROG_NM,PROG_PATH,PROG_EXPL,PROG_SORT,RECRUITST_USE,SYS_CD,OPEN_OUTSIDE|USE_STATE='1'"/>
    <add key="CACHE_TABLE3" value="TSBA|AUTC040|FN_CD,PROG_CD|"/>
    <add key="CACHE_TABLE4" value="TSBA|AUTT010|GROUP_CODE,USE_STATE|"/>
    <add key="CACHE_TABLE5" value="TSBA|AUTT030|GROUP_CODE,PROG_CD|"/>
    <add key="CACHE_TABLE6" value="TSBA|AUTT040|DATA_FIELD_ENG,DATA_RANGE_LABEL,DATA_RANGE_VALUE,GROUP_CODE,SQL_VALUE|"/>
    <add key="CACHE_TABLE7" value="TSBA|AUTT050|FN_CD,GROUP_CODE,PROG_CD|"/>
    <add key="CACHE_TABLE8" value="TSBA|AUTT060|DATA_FIELD_ENG,DATA_RANGE_LABEL,DATA_RANGE_VALUE,FN_CD,GROUP_CODE,PROG_CD,SQL_VALUE|"/>
    <add key="CACHE_TABLE9" value="TSBA|AUTT070|DATA_FIELD_ENG,FIELD_RW_PRVLG,FN_CD,GROUP_CODE,PROG_CD|"/>
    <add key="CACHE_TABLE10" value="TSBA|AUTC010|SYS_CD,SYS_NM,EDU_FG,SYS_CHARGE,SYS_AGT,SYS_SORT|"/>
    <add key="CACHE_TABLE11" value="TSBA|AUTT080|ACNT,GROUP_CODE|"/>
    <add key="SESSION_MAP" value=""/>
    <add key="PKNO_SERVER_LIST" value="10.24.100.174"/>
    <add key="PKNO_SERVER_PORT" value="2002"/>
    <add key="ENCODE_COLUMN" value=""/>
    <add key="ENCODE_TYPE" value=""/>
    <add key="ENCODE_SCREEN" value=""/>
    <add key="EXTEND_SESSION" value=""/>
    <add key="PIC_URL1" value="http://localhost/TSBAData/NCC1/"/>
    <add key="PIC_URL2" value="http://localhost/TSBAData/NCC2/"/>
    <add key="PIC_URL3" value="http://localhost/TSBAData/NCC3/"/>
    <add key="DATA_URL" value="http://localhost/TSBAData/"/>
    <add key="BIL_REPORT_URL" value="http://10.66.140.23/Application/BIL/BIL1201.aspx?pay_no="/>
    <add key="RETAILER_ID" value="4305"/>
    <add key="ADFEE_CODE_1" value="IC32"/>
    <add key="ADFEE_CODE_2" value="IC33"/>
    <add key="BIL_PROD" value="N"/>
    <add key="IP_CHECKING_BYPASS" value="Y"/>
    <add key="AWSAccessKey" value="SE41NTAxODA5OTE1MDg4MDk5ODE0NzQ"/>
    <add key="AWSSecretKey" value="NDBmNTI1ODM4Mzk4NGJiMDkwMjU2ODFkMTU3MTYzMzM"/>
    <add key="ownerDisplayName" value="s3.hicloud.net.tw"/>
    <add key="ownerCanonicalID" value="6d7947b28a944577b0551def125b38bb"/>
    <add key="userADisplayName" value="NCC"/>
    <add key="userACanonicalID" value="0972161777"/>
    <add key="CHECK_EGOV" value="Y"/>
    <add key="EGOV_URL" value="https://www.cp.gov.tw/portal/Clogin.aspx?ReturnUrl="/>
    <add key="SERVICEID" value="APP0001874"/>
    <add key="SQL_TIMEOUT" value="30"/>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.1.0" newVersion="5.11.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
